body {
    background-color: #FBEDFD;
}

.flex-container-1 {
    display: flex;
    flex-direction: row;
}
.flex-container-2 {
    display: flex;
    flex-direction: column;
}

.main-content {
    width: 85%;
    margin-left: 125px;
}

.bar-description {
    background-color: #DBB3F2;
    border-radius: 10px;
    width: 1080px;
    height: 100px;
    text-align: center;
    overflow: hidden; /* Menghilangkan bagian yang melebihi kotak */
  }