/* actionItem.css */
.action-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    margin: 10px 0;
    background-color: white;
    border: 1px solid #5E2089;
    border-radius: 10px;
    transition: background-color 0.3s;
    height: 40px;
    width: 980px;
    margin-left: 140px;
  }
  
  .action-item:hover {
    background-color: #e0e0e0;
  }
  
  .icon {
    margin-right: 10px;
    width: 24px; /* Set appropriate width */
    height: 24px; /* Set appropriate height */
  }
  
  .icon.chevron-right {
    margin-left: auto;
    font-size: 16px;
  }
  
  .action-text {
    flex: 1;
    text-align: left;
  }
  
  .action-text h3 {
    margin: 0;
    font-size: 16px;
  }
  
  .action-text p {
    margin: 0;
    color: #888;
  }
  
  .action-item:last-child {
    border-bottom: none;
  }
  
  .action-item i {
    font-size: 24px;
    margin-right: 10px;
  }
  